/*import font */
@font-face {
    font-family: Roboto Light;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-bold;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Urbanist SemiBold;
    src: url('../fonts/urbanist/static/Urbanist-SemiBold.ttf');
}

@font-face {
    font-family: Urbanist-bold;
    src: url('../fonts/urbanist/static/Urbanist-Bold.ttf');
}


/* STYLE */
.mainWindow{
    -fx-border-color: rgb(0, 0, 0,.5);
    -fx-border-width: 1;
    -fx-background-image: url("../img/wave-haikei.png");
    -fx-background-position: center;
    -fx-background-size: cover;

}

.top-menu{
    -fx-background-color: #fff;
    -fx-border-color: Transparent Transparent rgb(0, 0, 0,.1) Transparent;
    -fx-border-width: 4;
}
.top-menu-item{
    -fx-border-color: Transparent rgb(0, 0, 0,.1) Transparent Transparent;
}

.help-link{
    -fx-border-color: Transparent;
    -fx-background-color: Transparent;
    -fx-cursor: hand;
}
.deconnexion-link{
    -fx-border-color: Transparent;
    -fx-background-color: Transparent;
    -fx-cursor: hand;
}

.btn-close{
    -fx-fill: #070707;
    -fx-cursor: hand;
    -fx-opacity: 0.5;
    -fx-border-color: Transparent;
    -fx-background-color: Transparent;
}
.btn-close:hover{
    -fx-opacity: 1;
    -fx-background-image: url("../img/close_hover.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.btn-close:hover .ico-close{
    -fx-opacity: 1;
    -fx-fill: #ffffff;
}

.bloc_page{
    -fx-background-color: #f5f5f5;
}
.scroll_page:focused{
    -fx-border-color: Transparent;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-background-color: Transparent;
}

.liste-dc
{
    -fx-border-color: #DFE0EB;
    -fx-border-width: 1;
    -fx-border-radius: 4px;
    -fx-background: #FFFFFF;
}

/**************
Error
**************/

.error-msg{
    -fx-text-fill: red;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Light";
}
/**************
Warning
**************/
.success-msg{
    -fx-text-fill: #4CAF50;
    -fx-font-size: 12px;
    -fx-font-family: "Roboto Light";
}

.warning-msg{
    -fx-text-fill: #ffc107;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Light";
}

.form-input-disabled{
    -fx-background-color: #d0d0d0;
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-border-width: 1;
    -fx-border-radius: 3;
}
.btn{
    -fx-border-radius: 3;
    -fx-padding: 8;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-color: #034F75;
    -fx-text-fill: #034F75;
    -fx-font-family: "Urbanist SemiBold";
}
.btn .btn-ico{
    -fx-fill: #034F75;
}

.btn:pressed .btn-ico{
    -fx-fill: #FFFFFF;
}

.btn:pressed{
    -fx-background-color: #034F75;
    -fx-border-color: #034F75;
    -fx-text-fill: #FFFFFF;
}

.btn-primary{
    -fx-border-radius: 3;
    -fx-padding: 8;
    -fx-background-color: #034F75;
    -fx-cursor: hand;
    -fx-border-color: #034F75;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Urbanist SemiBold";
}

.btn-secondary{
    -fx-border-radius: 3;
    -fx-padding: 8;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-color: #034F75;
    -fx-text-fill: #034F75;
    -fx-font-family: "Urbanist SemiBold";
}

.input100 {
  -fx-font-size: 14px;
  -fx-text-fill: #555555;
  -fx-width: 100%;
  -fx-background-color: #EDEDED;
  -fx-border-radius: 4px;
  -fx-padding: 8px;
  -fx-font-family: "Roboto-light";
  -fx-outline: none;
  -fx-border-color: rgba(0, 0, 0, 0.25);
  -fx-border-width: 1px;
}

.input100:focused{
    -fx-border-color: #034F75;
    -fx-border-width: 1px;
}